<nav>
      <a class="brand" routerLink="/">E-Comm</a>
    <div *ngIf="menuType==='default'" class="search-container">
      <form>
        <input type="text"
        #searchInput
        (keyup)="searchProducts($event)" (blur)="hideSearch()" placeholder="Search Products" />
        <button (click)="submitSearch(searchInput.value)" >Search</button>
        <ul class="suggested-search" *ngIf="searchResult">
          <li *ngFor="let item of searchResult">
            <a (mousedown)="redirectToDetails(item.id)" >{{item.name}}</a>
          </li>
        </ul>
    </form>
    </div>
    <div [ngSwitch]="menuType" >
    <ul *ngSwitchCase="'default'" class="nav-menu">
      <li><a routerLink="/" class="fs-5">Home</a></li>
      <li><a routerLink="/seller-auth" class="fs-5">Seller</a></li>
      <li><a routerLink="/user-auth" class="fs-5">Login/SignUp</a></li>
      <li><a  class="fs-5">Cart({{cartItems}})</a></li>
    </ul>
    <ul *ngSwitchCase="'user'" class="nav-menu">
      <li><a routerLink="/" class="fs-5">Home</a></li>
      <li><a routerLink="/seller-auth" class="fs-5">Seller</a></li>
      <li><a title="User Name" class="fs-5">{{userName | titlecase}}</a></li>
      <li><a (click)="userLogout()" class="fs-5">Logout</a></li>
      <li><a routerLink="/my-cart" class="fs-5">Cart({{cartItems}})</a></li>
    </ul>
    <ul *ngSwitchCase="'seller'" class="nav-menu">
      <li><a routerLink="seller-home" class="fs-5">Product List</a></li>
      <li><a routerLink="seller-add-product" class="fs-5">Add Product</a></li>
      <li><a (click)="sellerLogout()" class="fs-5">Logout</a></li>
      <li><a routerLink="seller-home" id="name" title="Seller Name" class="fs-5">{{sellerName | titlecase}}</a></li>
    </ul>
  </div>
  </nav>