nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a1a;
  color: #fff;
  padding: 10px 20px;
}

.brand-info {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  text-decoration: none;
  margin-left: -1rem;
}
.brand-logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.brand {
  text-decoration: none;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  margin-left: 12px;
}

/* Search Container */
.search-container {
  flex-grow: 1;
  margin-left: 0.3rem;
}

.search-container input[type="text"] {
  padding: 6px 10px;
  border: none;
  border-radius: 4px 0 0 4px;
  font-size: 14px;
  width: 100%;
  max-width: 29rem;
}

.search-container button {
  color: #fff;
  background-color: #29bf12;
  border: none;
  border-radius: 0 4px 4px 0;
  padding: 6px 8px;
  font-size: 14px;
  cursor: pointer;
}

/* Navigation Menu */
.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-menu li {
  margin-left: 3rem;
}

.nav-menu li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-menu li a:hover {
  color: #e53935;
}

button {
  height: auto;
  width: 4rem;
}

a {
  cursor: pointer;
}

.suggested-search {
  position: absolute;
  margin-top: 0.1rem;
  z-index: 10;
  display: list-item !important;
  border: 1px solid #ddd;
  background-color: #fff;
  width: 480px;
  list-style-type: none;
}

.suggested-search li {
  padding: 5px;
  border: 1px solid #ddd;
}

.suggested-search li a {
  cursor: pointer;
  color: #1a1a1a;
}

/* Media Queries */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .brand {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .search-container {
    margin-left: 0;
    margin-bottom: 10px;
    width: 100%;
  }

  .search-container input[type="text"] {
    max-width: none;
  }

  .nav-menu {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .nav-menu li {
    margin-left: 0;
    margin-bottom: 10px;
  }
}


.fa-heart{
  font-size: 24px;
  color:red;
}
