<nav>
    <div class="brand">
      <a routerLink="/">E-Comm</a>
    </div>
    <div class="search-container">
      <input type="text" placeholder="Search...">
      <button type="submit">Search</button>
    </div>
    <ul class="nav-menu">
      <li><a routerLink="/" class="fs-5">Home</a></li>
      <li><a routerLink="/seller-auth" class="fs-5">Seller</a></li>
      <li><a routerLink="/login" class="fs-5">Login</a></li>
      <li><a routerLink="/cart" class="fs-5">Cart(0)</a></li>
    </ul>
  </nav>
  