/* .product-details {
    margin-top: 50px;
    margin-bottom: 80px;
    margin-left: 17rem;
    margin-right: 0;
    display: flex;
    align-items: flex-start;
  }

  
  .product-img {
    object-fit: contain;
    border: 1px solid #333;
    width: 70%;
    height: 70%;
  }
  
  .product-color {
    border: 3px solid #000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .quantity-group {
    margin-top: 20px;
  }
  
  .quantity-group button {
    padding: 10px;
  }
  
  .quantity-group input {
    padding: 10px;
    width: 50px;
  }
  
  .details {
    flex: 1;
    margin-left: -9rem
  }

  @media (max-width: 767px) {
    .product-details {
      flex-direction: column;
      align-items: center;
    }
  
    .product.img {
      margin-bottom: 20px;
    }
  
    .details {
      margin-left: 0;
    }
  } */
  


  .product-details {
    margin: 50px 0;
    margin-left: 14rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  
  .product-img {
    object-fit: contain;
    border: 1px solid #333;
    max-width: 70%;
    max-height: 70%;
  }
  
  .product-color {
    border: 3px solid #000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .quantity-group {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  
  .quantity-group button {
    padding: 10px;
  }
  
  .quantity-group input {
    padding: 10px;
    width: 50px;
    text-align: center;
  }
  
  .details {
    flex: 1;
    margin-left:-6rem;
  }
  
  @media (max-width: 767px) {
    .product-details {
      flex-direction: column;
      align-items: center;
    }
  
    .image {
      margin-bottom: 20px;
    }
  
    .details {
      margin-left: 0;
    }
  } 
span{
  font-size: large;
}