<h1>My Orders</h1>
<p class="cancel-msg">{{cancelOrderMsg}}</p>
<div class="order-container">
  <div class="order-item" *ngFor="let order of orderData">
    <img src="../../assets/images/checkout.png" alt="Product Image" />
    <div class="order-details">
      <p>Order ID: #{{ order.id }}</p>
      <p>Price: &#8377;{{ order.totalPrice }}</p>
      <p>Status: In-Transit</p>
      <button class="cancel-btn" (click)="cancelOrder(order.id)">
        Cancel Order
      </button>
    </div>
  </div>
</div>
