<div *ngIf="showLogin" class="container">
    <h1>User Sign Up</h1>
    <form #UserSignUp="ngForm" (ngSubmit)="signUp(UserSignUp.value)">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" ngModel required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" ngModel required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" ngModel required>
        </div>
        <button type="submit">Sign Up</button>
        <div class="no">Already have an Account? <a class="link" (click)="openLogin()">Click here to Login!</a></div>
    </form>
</div>
<div *ngIf="!showLogin" class="container">
    <h1>User Login</h1>
    <div class="authError">
    <p>{{authError}}</p>
    </div>
    <form #UserLogin="ngForm" (ngSubmit)="login(UserLogin.value)">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" ngModel #email="ngModel" required email>
            <p class="invalid-input"><span *ngIf="email.invalid && email.touched">Please Enter a Valid Email</span></p>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" ngModel #password="ngModel" required minlength="2" maxlength="10">
            <p class="invalid-input"><span *ngIf="password.invalid && password.touched">Please Enter a Valid Password</span></p>
        </div>
        <button [disabled]="UserLogin.invalid" type="submit">Login</button>
        <div class="no">Don't have an Account? <a class="link" (click)="openSignUp()">Click here to SignUp!</a></div>
    </form>
</div>