.carousel {
  position: relative;
  top: 2rem;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item.active {
  opacity: 1;
}

.carousel-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.carousel-caption {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
}

.carousel-control-prev {
  left: 23rem;
}

.carousel-control-next {
  right: 23rem;
}

.carousel-control-icon {
  font-size: 4rem;
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.product-list-wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

.product-item {
  padding: 10px;
  flex: 0 0 calc(33.33% - 20px); /* Calculate width for 3 items per row with 10px padding */
  max-width: calc(33.33% - 20px); /* Calculate max-width for 3 items per row with 10px padding */
  box-sizing: border-box; /* Include padding and border in element's total width */
}

@media (max-width: 991px) {
  .product-item {
    flex: 0 0 calc(50% - 20px); /* Two items per row on medium screens */
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 767px) {
  .product-item {
    flex: 0 0 calc(100% - 20px); /* One item per row on small screens */
    max-width: calc(100% - 20px);
  }
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-image {
  margin-top: 5px;
  height: 250px;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-details {
  padding: 20px;
}

.name-head {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.price {
  font-size: 16px;
  color: #888;
  margin-bottom: 20px;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s ease;
}

.view-details {
  background-color: #007bff;
}

.view-details:hover {
  background-color: #0056b3;
}

.add-to-cart {
  background-color: #28a745;
}

.add-to-cart:hover {
  background-color: #1e7e34;
}

@media (min-width: 768px) {
  .product-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}